{% extends "base.html" %}
{% load tags %}
{% load staticfiles %}
{% block content %}

{% if messages %}
  {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
      <div id="success-modal" class="fade modal" role="dialog">
        <div class="modal-dialog modal-sm">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title" style="color:green;"><span class="glyphicon glyphicon-ok"></span>   Done</h4>
            </div>
            <div class="modal-body">
              <p>{{message}}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-basic btn-sm" data-dismiss="modal">Ok</button>
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <div id="error-modal" class="fade modal" role="dialog">
        <div class="modal-dialog modal-sm">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header" >
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title" style="color:red;"><span class="glyphicon glyphicon-warning-sign"></span>   Error</h4>
            </div>
            <div class="modal-body">
              <p>{{message}}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-basic btn-sm" data-dismiss="modal">Ok</button>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
{% endif %}

<!-- NewItem Modal -->
{% if user.is_superuser %}
<div id="new-item-modal" class="modal fade" role="dialog">
<div class="modal-dialog modal-md">

  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title"><span class="glyphicon glyphicon-plus"></span> New Task</h4>
    </div>
    <div class="modal-body">
      <form action='{% url "tasks:addTask" %}' method="POST" id="new-task-form">
        {% csrf_token %}
        <div class="form-group">
          <label for="title">Title:</label>
          <input class="form-control" name="title" id="title" required>
        </div>
        <div class="form-group">
          <label for="group">Group:</label>
          <select name="group" class="form-control" id="group">
            {% for val,name in groups %}
            <option value="{{val}}">{{name}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="users">User:</label>
          <select name="user" class="form-control" id="users">
            {% for user_ in users %}
            <option value="{{user_.id}}">{{user_.username}}</option>
            {% endfor %}
          </select>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      <button type="submit" class="btn btn-primary" >Add Task</button>
      </form>
    </div>
  </div>
</div>
</div>
{% endif %}

<!--==========   Tasks   ==========-->
<div class="container" style="margin-top:65px">
  <div class="row">

    <!--=====   Single Group Tasks (column)   =====-->
    {% for groupName, groupTasks in tasks.items %}

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="well well-sm">
          <legend style="border:0px solid #E78;border-radius: 3px; padding:10px;color:#FFF; background-color:{% getColor forloop.counter0 %};">{{groupName}}<span class="badge pull-right" style="position:relative; Top: 5px;">{{groupTasks|length}}</span></legend>
          {% if not groupTasks %}
          <p class="text-center text-muted" style="border:1px dashed #aaa; border-radius: 3px;padding:10%;">No {{groupName}} tasks<br> to show</p>
          {% else %}
          <!--=======  Task (signle task)  =======-->
          {% for task in groupTasks %}
            <!--=======  Pending Tasks =======-->
            {% if not task.status %}
            <div class="panel panel-default">
              <div class="panel-heading">
                {{task.title}}
                <button type="button" class="pull-right btn-xs" data-toggle="modal" data-target="#done-modal-{{task.id}}"><span class="glyphicon glyphicon-check"></span></button>
                {% if user.is_superuser %}
                <button type="button" class="pull-right btn-xs" data-toggle="modal" data-target="#delete-modal-{{task.id}}"><span class="glyphicon glyphicon-trash"></span></button>
                {% endif %}
              </div>
              <div class="panel-body">
                {% if user.is_superuser %}
                <p><span class="glyphicon glyphicon-user"></span><span class="pull-right label label-default">{{task.user.username}}</span></p>
                {% endif %}
                <p><span class="glyphicon glyphicon-calendar"></span><span class="pull-right">{{task.createdDate}}</span></p>
              </div>
            </div>

            <!-- Done Modal -->
            <div id="done-modal-{{task.id}}" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title"><span class="glyphicon glyphicon-check"></span>  Done?</h4>
                </div>
                <div class="modal-body">
                  <p>Are you sure that task is done?!</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                  <a href="{% url 'tasks:doneTask' task.id %}" class="btn btn-success" role="button">Yes</a>
                </div>
              </div>
            </div>
            </div>

            {% if user.is_superuser %}
            <!-- Delete Modal -->
            <div id="delete-modal-{{task.id}}" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title"><span class="glyphicon glyphicon-trash"></span>  Delete?</h4>
                </div>
                <div class="modal-body">
                  <p>Are you sure to delete this task?!</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                  <a href="{% url 'tasks:deleteTask' task.id %}" class="btn btn-primary doneclick" role="button">Yes</a>
                </div>
              </div>
              </div>
            </div>
            {% endif %}


            <!--=======  Done Tasks =======-->
            {% else %}
            <div class="panel panel-success">
              <div class="panel-heading"><s>{{task.title}}</s><span class="pull-right glyphicon glyphicon-ok"></span></div>
              <div class="panel-body">
                {% if user.is_superuser %}
                <p><span class="glyphicon glyphicon-user"></span><span class="pull-right label label-default">{{task.user.username}}</span></p>
                {% endif %}
                <p><span class="glyphicon glyphicon-calendar"></span><span class="pull-right">{{task.createdDate}}</span></p>
                <p><span class="glyphicon glyphicon-check"></span><span class="pull-right">{{task.doneDate}}</span></p>
              </div>
            </div>
            {% endif %}
          {% endfor %}
          {% endif %}
        </div> <!-- WELL -->
      </div> <!-- COLUMN -->
    {% endfor %}

  </div> <!-- ROW -->

  {% for groupName, groupTasks in tasks.items %}
    {% for task in groupTasks %}
      <!--=======  Pending Tasks =======-->
      {% if not task.status %}
      <!-- Done Modal -->
      <div id="done-modal-{{task.id}}" class="modal fade" role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><span class="glyphicon glyphicon-check"></span>  Done</h4>
          </div>
          <div class="modal-body">
            <p>Are you sure that task is done?!</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            <a href="{% url 'tasks:doneTask' task.id %}" class="btn btn-success" role="button">Yes</a>
          </div>
        </div>
      </div>
      </div>

      <!-- Delete Modal -->
      <div id="delete-modal-{{task.id}}" class="modal fade" role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><span class="glyphicon glyphicon-trash"></span>  Delete</h4>
          </div>
          <div class="modal-body">
            <p>Are you sure to delete this task?!</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            <a href="{% url 'tasks:deleteTask' task.id %}" class="btn btn-primary doneclick" role="button">Yes</a>
          </div>
        </div>
        </div>
      </div>

      {% endif %}
    {% endfor %}
  {% endfor %}
</div>


{% endblock %}

{% block scripts %}
<script type="text/javascript">
$(window).on('load',function(){
    $('#success-modal').modal('show');
});
$(window).on('load',function(){
    $('#error-modal').modal('show');
});
</script>
{% endblock %}
