{% extends "base.html" %}

{% block content %}
<div class="container" style="margin-top:15%;">
  <div class="row">
    <div class="col-md-4 col-sm-3 col-xs-12">
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <i class="icon-calendar"></i>
          <h3 class="panel-title"><span class="glyphicon glyphicon-menu-right"></span>  </span><b>Sign In</b></h3>
        </div>

        <div class="panel-body">
          <form action='{% url "tasks:login" %}' method="POST">
            {% csrf_token %}
            <div class="input-group input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span>  </span>
              <input type="text" class="form-control input" name="username" placeholder="Username" required>
            </div>
            <br>
            {% if error %}
            <div class="input-group has-error">
              <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span> </span>
              <input type="password" class="form-control input" id="inputError" name="password" placeholder="Password" required>
            </div>
            <span class="help-block" style="color:#a94442;">Username and password doesn't match.</span>
            {% else %}
            <div class="input-group input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span> </span>
              <input type="password" class="form-control input" name="password" placeholder="Password" required>
            </div>
            {% endif %}
            <br>
            <div class="checkbox">
              <button type="submit" name="submit" class="btn btn-basic pull-right" style="color:#333;background-color:#fff;border:1px solid #ccc;"><b>Submit</b></button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-3 col-xs-12">
    </div>

  </div>

</div>
{% endblock %}
